body {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
    background-color: #00c8b1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    text-align: center;
    background-color: #80eade;
    padding: 20px;
    border-radius: 20px;
}
.guessfeild{
    padding: 10px;
    margin-right: 10px;
    width: 200px;
    border-radius: 10px;
}
.submitguess{
    padding: 10px;
    border-radius: 10px;
    transition: background-color  0.1s;
    transition: transform 0.1s;
}
.submitguess:hover{
    background-color: rgb(226, 226, 226);
}
.submitguess:active{
    transform: scale(0.95);
}
.result {
    font-weight: bold;
}
.resetbutton {
    padding: 10px;
    border-radius: 10px;
    transition: background-color  0.1s;
    transition: transform 0.1s;
}
.resetbutton:hover{
    background-color: rgb(217, 217, 217);
}
.resetbutton:active{
    transform: scale(0.95);
}